@charset "utf-8";

* {    
	vertical-align:baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0;
	outline:0;
	padding:0;
	margin:0;	
}





#header1 {
    position: relative;
    width: 100%;
}
#header1 #inside1 {
    position: relative;
    width: 100%;
    background: #c7c7c7;
    border-bottom: 2px solid #FF3300;
    height: 70px;    
}
#header1 #inside1 #logo-name {
    position: relative;
    width: 1000px;
}
#header1 #inside1 #logo-name img {
    position: relative;
    width: 30%;
    padding: 10px;
}
#header1 #inside1 #header2 {
    background: #25103d;
    position: absolute;
    top: 70px;
    width: 100%;
    align-content: center;
    margin-right: auto;
    margin-left: auto;
}
#header1 #inside1 #header2 nav {
    position: relative;
    width: 100%;
    align-content: center;
    margin-right: auto;
    margin-left: auto;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
#header1 #inside1 #header2 nav ul {
    position: relative;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding: 10px 20px;
}
#header1 #inside1 #header2 nav ul li {
    list-style: none;
    display: inline;
    position: relative;
    transition-duration: 0.4s;
    width: 100%;
    padding: 12px 6px;
}
#header1 #inside1 #header2 nav ul li a span {
    padding-right: 10px
}
#header1 #inside1 #header2 nav ul a {
    color: white;
    font-size: 14px;    
    width: 100%;
    align-content: center;
    margin-right: auto;
    margin-left: auto;  
    padding: 12px 20px;
    transition-duration: 0.4s;
}
#header1 #inside1 #header2 nav ul a:hover {
    background: #FF3300;
}




#movilmenu {
    display: none;
}
#movilmenu #btn-menu {
    display: none;
}


                                                          /*CONTENIDO FULL*/      
#contenido {
    /*background: red;*/
    position: relative;
    top: 40px;
    overflow: none;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
                                                          /*CONTENIDO FULL*/

#sky {
    display:none;
    font-size: 20px;
    padding: 15px;
    color: white;
    background: rgba(36, 36, 36, 0.5);
    position: fixed;
    cursor: pointer;
    z-index: 999;
    border-radius: 255px;
    bottom: 20px;
    right: 20px;
}
#sky:hover {
    background: rgb(36, 36, 36);
    transition: 0.4s;
}

                                                        /*SLIDER PRINCIPAL*/
#contenido .carousel-indicators {
    display: none;
}

                                                        /*SLIDER PRINCIPAL*/




 
#contenido #info {
    position: relative;
    /*background: -webkit-linear-gradient(-45deg,#25103d,#e63d23);
    background: -moz-linear-gradient(-45deg,#25103d,#e63d23);
    background: -o-linear-gradient(-45deg,#25103d,#e63d23);
    background: linear-gradient(-45deg,#e63d23,#25103d);*/
    overflow: none;
    height: auto;
    width: 100%;
    color: black;
}
#contenido #info #x {
    height: auto;
    margin-right: auto;
    margin-left: auto;
    /*width: 90%;*/
}



                                                        /*DESCRIPCION*/

#contenido #info #descripcion {
    position: relative;
    /*width: 80%;*/
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    text-align: center;
    background: #f0f0f0;
    padding: 20px;
}
#descripcion h2 {
    width: 20%;
    border-bottom: 3px solid #FF3300;
    margin: 0 auto;
    text-align: center;
}
#descripcion p {
    text-align: justify;
    font-size: 16px;
    padding: 0px 180px;
}
#descripcion span {
    font-size: 180px;
    padding: 10px;
}

                                                        /*DESCRIPCION*/



                                                        /*MISION*/ 

#contenido #info #contentmision {
    position: relative;
   /* width: 80%;*/
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;
}
#contentmision h2 {
    width: 20%;
    border-bottom: 3px solid #25103d;
    margin: 0 auto;
    text-align: center;
}
#contentmision p {
    text-align: justify;
    font-size: 16px;
    padding: 0px 180px;
}
#contentmision span {
    font-size: 180px;
}

                                                        /*MISION*/


                                                        /*VISION*/
#contenido #info #contentvision {
    position: relative;
    /*width: 80%;*/
    margin-right: auto;
    margin-left: auto;
    /*margin-bottom: 20px;*/
    text-align: center;
    padding: 20px;
    background: #f0f0f0;
}
#contentvision h2 {
    width: 20%;
    border-bottom: 3px solid #FF3300;
    margin: 0 auto;
    text-align: center;
}
#contentvision p {
    text-align: justify;
    font-size: 16px;
    padding: 0px 180px;
}
#contentvision span {
    font-size: 180px;
}
                                                        /*VISION*/


                                                        /*TWITTER*/
#newsec {
    position: relative;
    padding: 20px;
    display: flex;
    background: -webkit-linear-gradient(-45deg,#25103d,#00ccff);
    background: -moz-linear-gradient(-45deg,#25103d,#00ccff);
    background: -o-linear-gradient(-45deg,#25103d,#00ccff);
    background: linear-gradient(-45deg,#00ccff,#25103d);
}
#contenido #twitter {
    position: relative;
    width: 50%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
}
#socialnet {
    position: relative;
    width: 50%;
    /*border-left: 2px solid rgba(72, 90, 165, 3.5);*/
}
#socialnet #twttitle {
    color: white;
    border-bottom: 3px solid #e63d23;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    font-size: 30px;
}
#socialnet #twtinfo {
    color: white;
    font-size: 25px;
    padding-left: 60px;
}
#socialnet ul {
    position: relative;
    padding-left: 60px;
}
#socialnet ul li {
    list-style: none;
    padding: 10px 0;
}
#socialnet ul li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    transition-duration: 0.4s;
}
#socialnet ul li a span {
    color: #25103d;
    background: white;
    padding: 5px;
    border-radius: 255px;
    margin-right: 20px;
    transition-duration: 0.4s;
}
#socialnet ul li a:hover > span {
    background: #FF3300;
    transition-duration: 0.4s;
}
                                                        /*TWITTER*/



                                                        /*CLIENTES - ALIANZAS*/
#cya #carousel-example-generic {
    /*background: blue;*/
    background: white;
    position: relative;
    overflow: hidden;
    /*margin-top: -400px;*/
    padding: 20px;
}
#cya #bepart1 {
    position: relative;
    width: 100%;
}
#cya #cliente1 {
    position: relative;
    width: 100%;
}
#cya #cliente2 {
    position: relative;
    width: 100%;
}
#cya #cliente3 {
    position: relative;
    width: 100%;
}
#cya #bepart2 {
    position: relative;
    width: 100%;
}
#cya #alianza {
    position: relative;
    width: 100%;
}
#cya .carousel-indicators {
    display: none;
    position: absolute;
    top: 160px;
}
#cya .carousel-indicators li {
    border-color:#25103d;
}
#cya .carousel-indicators .active {
    background: #25103d;
}
                                                        /*CLIENTES - ALIANZAS*/


                                                        /*FOOTER*/
footer {
    background: #25103d;
    border-top: 3px solid #FF3300;
    position: relative;
    overflow: hidden;    
}
footer #inside {
    padding: 10px;
    position: relative;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
footer #end {
    position: relative;
    top: 5px;
    font-size: 16px;
    color: white;
}
                                                        /*FOOTER*/

@media only screen and (max-width:1020px) {
    #header1 {
        position: fixed;
        /*background: blue;*/
        width: 100%;
        z-index: 60000000000000;
    }
    #header1 #inside1 {
        position: relative;
        width: 100%;
        background: #c7c7c7;
        border-bottom: 2px solid #FF3300;
        height: 70px;
    }
    #header1 #inside1 #logo-name {
        position: relative;
        width: 1000px;
        align-content: center;
        margin-right: auto;
        margin-left: auto;
    }
    #header1 #inside1 #logo-name img {
        position: relative;
        padding: 10px;
        width:30%;
        align-content: center;
        margin-right: auto;
        margin-left: auto;
    }
    #header2 {
        display: none;
    }
    
    
    
    
    
    #movilmenu {
        display: block;
    }
    #movilmenu label {
        display: block;
        background: #25103d;
        color: white;
        position: fixed;
        width: 100%;
        z-index: 999;        
        padding: 10px;
        top:69px;
        /*border-right: 2px solid #e63d23;
        border-bottom: 2px solid #e63d23;*/
        cursor: pointer;
        text-align: center;
    }
    
    #movilmenu label span {
        color: white;
        font-size: 16px;
        position: relative;
        top: 0px;
        left: 0px;
        text-align: center;
        padding-left: 10px;
    }
    
    .menu {
        position: fixed;
        width: 100%;
        top:69px;
        z-index: 998;
        background: rgb(56, 56, 56);
        margin-top: -100%;
        transition: all 0.4s;
    }
    .menu ul {
        flex-direction: column;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 0;
        list-style: none;
        /*border-top: 1px solid rgba(230, 61, 35, 0.7);*/
    }
    /*
    .menu #ul2 #li2 span {
        padding-right: 10px;
    }
    */
    .menu li {
        display: block;
        /*border-top: 1px solid #fff;*/
        padding: 10px 20px;
        transition-duration: 0.6s;
        /*border-left: 2px solid #e63d23;*/
        border-bottom: 2px solid #FF3300;
        text-align: center;
    }
    .menu li a {
        display: block;
        color: white;
        font-size: 14px;
        font-weight: 600;
        margin: auto;
    }
    .menu li a span {
        padding-right: 15px;
    }
    .menu li:hover {
        background: #FF3300;
    }
    .menu li #imp1 {
        color: white;
    }
    .menu li #imp2 {
        color: white;
    }
    #btn-menu:checked ~ .menu { /*Esto lo que hace es que al darle click al check-box el busca la clase menu*/
        margin-top: 40px;
    }
    
    
    #contenido {
        /*background: red;*/
        /*background:#efecec;*/
        position: relative;
        top:109px;
        /*overflow: hidden;*/
        overflow:none;
    }
    
    
    #contenido #info {
        position: relative;
        height: auto;
        top: -1px;
        align-content: center;
        margin: 0 auto;
        color: black;
        width: 100%;
    }
    #contenido #info #x {
        position: relative;
        height: auto;
        align-content: center;
        margin: 0 auto;
        width: 100%;
        left: 0;
    }
    
                                                             /*DESCRIPCION*/

    #contenido #info #descripcion {
        display: block;
        margin: auto;
        /*width: 93%;*/
    }
    #contenido #info #descripcion h2 {
        border-bottom: 3px solid #FF3300;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        width: 40%;
        font-size: 20px;
        font-weight: bold;
    }
    #contenido #info #descripcion p {
        text-align: left;
        margin-right: auto;
        margin-left: auto;
        font-size: 16px;
        width: 100%;
    }
    #contenido #info #descripcion span {
        position: relative;
        color: white;
        font-size: 160px;
        left: 0px;
        top: 0px;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        /*top: 30px;
        left: 1000px;*/
    }
                                                            /*DESCRIPCION*/



                                                            /*MISION*/ 
    
    #contenido #info #contentmision {
        display: none;
    }
    #contenido #info #contentmision {        
        display: block;
        margin: auto;
        /*width: 93%;*/
    }
    #contenido #info #contentmision h2 {
        border-bottom: 3px solid #25103d;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        width: 30%;
        font-size: 20px;
        font-weight: bold;
    }
    #contenido #info #contentmision p {
        width: 100%;
        font-size: 16px;    
        text-align: left;
        margin-right: auto;
        margin-left: auto;
    }
    #contenido #info #contentmision span {
        position: relative;
        color: white;
        font-size: 160px;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        /*top: 30px;
        left: 1000px;*/
    }
                                                            /*MISION*/


                                                            /*VISION*/
    #contenido #info #contentvision {
        display: block;
        margin: auto;
        /*width: 93%;*/
    }
    #contenido #info #contentvision h2 {
        border-bottom: 3px solid #FF3300;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        width: 30%;
        font-size: 20px;
        font-weight: bold;
        /*background: yellow;*/
    }
    #contenido #info #contentvision p {
        position: relative;
        text-align: left;
        margin-right: auto;
        margin-left: auto;
        width: 100%;
        /*float: right;*/
        font-size: 16px;  
        /*background: yellow;*/
    }
    #contenido #info #contentvision span {
        position: relative;
        color: white;
        font-size: 160px;
        /*left: 200px;*/
        left: 0px;
        width: 100%;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        /*bottom: 30px;
        left: 200px;*/
    }
                                                            /*VISION*/
    
    
    
                                                            /*TWITTER*/
    #newsec {
        position: relative;
        padding: 20px;
        display: block;
        background: -webkit-linear-gradient(-45deg,#25103d,#00ccff);
        background: -moz-linear-gradient(-45deg,#25103d,#00ccff);
        background: -o-linear-gradient(-45deg,#25103d,#00ccff);
        background: linear-gradient(-45deg,#00ccff,#25103d);
        top: -1px;
    }
    #contenido #twitter {
        position: relative;
        width: 100%;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        padding: 20px;
    }
    #socialnet {
        position: relative;
        width: 100%;
        border-left: none;
        /*border-top: 2px solid rgba(72, 90, 165, 3.5);*/
    }
    #socialnet #twttitle {
        color: white;
        border-bottom: 3px solid #FF3300;
        width: 70%;
        text-align: center;
        margin: 0 auto;
        padding-top: 10px;
        font-size: 20px;
    }
    #socialnet #twtinfo {
        color: white;
        font-size: 16px;
        padding-left: 0px;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
    #contenido #twitter #twtinfo {
        color: white;
        font-size: 16px;
        width: 90%;
        text-align: center;
        margin: 0 auto;
    }
    #socialnet ul {
        position: relative;
        padding-left: 0px;
        align-content: center;
        margin: 0 auto;
        display: block;
        width: 80%;
    }
    #socialnet ul li {
        list-style: none;
        padding: 10px 0;
    }
    #socialnet ul li a {
        color: white;
        font-size: 16px;
        text-decoration: none;
    }
    #socialnet ul li span {
        color: #25103d;
        background: white;
        padding: 5px;
        border-radius: 255px;
        margin-right: 10px;
    }


                                                            /*TWITTER*/
    
    
                                                            /*CLIENTES - ALIANZAS*/
    #cya #carousel-example-generic {
        /*background: blue;*/
        background: white;
        position: relative;
        overflow: hidden;
        /*margin-top: -400px;*/
        margin-top: 0;
        padding: 25px;
    }
    #cya #bepart1 {
        position: relative;
        width: 100%;
    }
    #cya #cliente1 {
        position: relative;
        width: 100%;
    }
    #cya #cliente2 {
        position: relative;
        width: 100%;
    }
    #cya #cliente3 {
        position: relative;
        width: 100%;
    }
    #cya #bepart2 {
        position: relative;
        width: 100%;
    }
    #cya #alianza {
        position: relative;
        width: 100%;
    }
    #cya .carousel-indicators {
        position: relative;
        top: 0px;
    }
    #cya .carousel-indicators li {
        border-color:#25103d;
    }
    #cya .carousel-indicators .active {
        background: #25103d;
    }
                                                            /*CLIENTES - ALIANZAS*/
    
    
                                                            /*FOOTER*/
    footer {
        background: #25103d;
        border-top: 3px solid #FF3300;
        position: relative;
        overflow: hidden;
        margin-top: 0px;
    }
    footer #inside {
        padding: 10px;
    }
    footer #end {
        position: relative;
        top: 5px;
        font-size: 13px;
        color: white;
        text-align: center;
    }
    footer #inside #icons2 a {
        font-size: 14px;
        text-decoration: none;
        padding: 0 10px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }  
                                                            /*FOOTER*/
    
                                                    
    
}

@media only screen and (min-width:1500px) {
    #header1 {
        position: relative;
        width: 100%;
    }
    #header1 #inside1 {
        position: relative;
        width: 100%;
        background: #c7c7c7;
        border-bottom: 2px solid #FF3300;
        height: 70px;    
    }
    #header1 #inside1 #logo-name {
        position: relative;
        width: 1000px;
    }
    #header1 #inside1 #logo-name img {
        position: relative;
        width: 33%;
        padding: 10px;
    }
    #header1 #inside1 #header2 {
        background: #25103d;
        position: absolute;
        top: 70px;
        width: 100%;
        align-content: center;
        margin-right: auto;
        margin-left: auto;
    }
    #header1 #inside1 #header2 nav {
        position: relative;
        width: 100%;
        align-content: center;
        margin-right: auto;
        margin-left: auto;
        font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    }
    #header1 #inside1 #header2 nav ul {
        position: relative;
        width: 100%;
        margin-bottom: 0;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        padding: 10px 20px;
    }
    #header1 #inside1 #header2 nav ul li {
        list-style: none;
        display: inline;
        position: relative;
        transition-duration: 0.4s;
        width: 100%;
        padding: 12px 6px;
    }
    #header1 #inside1 #header2 nav ul li a span {
        padding-right: 10px
    }
    #header1 #inside1 #header2 nav ul a {
        color: white;
        font-size: 16px;    
        width: 100%;
        align-content: center;
        margin-right: auto;
        margin-left: auto;  
        padding: 12px 20px;
        transition-duration: 0.4s;
    }
    #header1 #inside1 #header2 nav ul a:hover {
        background: #FF3300;
    }




    #movilmenu {
        display: none;
    }
    #movilmenu #btn-menu {
        display: none;
    }


                                                              /*CONTENIDO FULL*/      
    #contenido {
        /*background: red;*/
        position: relative;
        top: 40px;
        overflow: none;
        font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    }
                                                              /*CONTENIDO FULL*/

    #sky {
        display:none;
        font-size: 20px;
        padding: 15px;
        color: white;
        background: rgba(36, 36, 36, 0.5);
        position: fixed;
        cursor: pointer;
        z-index: 999;
        border-radius: 255px;
        bottom: 20px;
        right: 20px;
    }
    #sky:hover {
        background: rgb(36, 36, 36);
        transition: 0.4s;
    }

                                                            /*SLIDER PRINCIPAL*/
    #contenido .carousel-indicators {
        display: none;
    }
    #contenido .carousel-inner {
        width: 100%;
    }
    #contenido .carousel-inner img{
        width: 100%;
    }

                                                            /*SLIDER PRINCIPAL*/





    #contenido #info {
        position: relative;
        overflow: none;
        height: auto;
        width: 100%;
        color: black;
    }
    #contenido #info #x {
        height: auto;
        margin-right: auto;
        margin-left: auto;
        /*width: 90%;*/
    }



                                                            /*DESCRIPCION*/

    #contenido #info #descripcion {
        position: relative;
        /*width: 80%;*/
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
        text-align: center;
        background: #f0f0f0;
        padding: 20px;
    }
    #descripcion h2 {
        width: 20%;
        border-bottom: 3px solid #FF3300;
        margin: 0 auto;
        text-align: center;
        font-size: 40px;
    }
    #descripcion p {
        text-align: justify;
        font-size: 20px;
        padding: 0 180px;
    }
                                                            /*DESCRIPCION*/



                                                            /*MISION*/ 

    #contenido #info #contentmision {
        position: relative;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
        text-align: center;
        padding: 20px;
    }
    #contentmision h2 {
        width: 20%;
        border-bottom: 3px solid #25103d;
        margin: 0 auto;
        text-align: center;
        font-size: 40px;
    }
    #contentmision p {
        text-align: justify;
        font-size: 20px;
        padding: 0 180px;
    }
                                                            /*MISION*/


                                                            /*VISION*/
    #contenido #info #contentvision {
        position: relative;
        margin-right: auto;
        text-align: center;
        padding: 20px;
        background: #f0f0f0;
    }
    #contentvision h2 {
        width: 20%;
        border-bottom: 3px solid #FF3300;
        margin: 0 auto;
        text-align: center;
        font-size: 40px;
    }
    #contentvision p {
        text-align: justify;
        font-size: 20px;
        padding: 0 180px;
    }
                                                            /*VISION*/


                                                            /*TWITTER*/
    #newsec {
        position: relative;
        padding: 20px;
        display: flex;
        background: -webkit-linear-gradient(-45deg,#25103d,#00ccff);
        background: -moz-linear-gradient(-45deg,#25103d,#00ccff);
        background: -o-linear-gradient(-45deg,#25103d,#00ccff);
        background: linear-gradient(-45deg,#00ccff,#25103d);
    }
    #contenido #twitter {
        position: relative;
        width: 50%;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        padding: 20px;
    }
    #socialnet {
        position: relative;
        width: 50%;
        /*border-left: 2px solid rgba(72, 90, 165, 3.5);*/
    }
    #socialnet #twttitle {
        color: white;
        border-bottom: 3px solid #e63d23;
        width: 50%;
        text-align: center;
        margin: 0 auto;
        font-size: 40px;
    }
    #socialnet #twtinfo {
        color: white;
        font-size: 28px;
        padding-left: 60px;
    }
    #socialnet ul {
        position: relative;
        padding-left: 60px;
    }
    #socialnet ul li {
        list-style: none;
        padding: 10px 0;
    }
    #socialnet ul li a {
        color: white;
        font-size: 28px;
        text-decoration: none;
        transition-duration: 0.4s;
    }
    #socialnet ul li a span {
        color: #25103d;
        background: white;
        padding: 5px;
        border-radius: 255px;
        margin-right: 20px;
        transition-duration: 0.4s;
    }
    #socialnet ul li a:hover > span {
        background: #FF3300;
        transition-duration: 0.4s;
    }
                                                            /*TWITTER*/



                                                            /*CLIENTES - ALIANZAS*/
    #cya #carousel-example-generic {
        background: white;
        position: relative;
        overflow: hidden;
        padding: 20px;
    }
    #cya #bepart1 {
        position: relative;
        width: 100%;
    }
    #cya #cliente1 {
        position: relative;
        width: 100%;
    }
    #cya #cliente2 {
        position: relative;
        width: 100%;
    }
    #cya #cliente3 {
        position: relative;
        width: 100%;
    }
    #cya #bepart2 {
        position: relative;
        width: 100%;
    }
    #cya #alianza {
        position: relative;
        width: 100%;
    }
    #cya .carousel-indicators {
        display: none;
        position: absolute;
        top: 160px;
    }
    #cya .carousel-indicators li {
        border-color:#25103d;
    }
    #cya .carousel-indicators .active {
        background: #25103d;
    }
                                                            /*CLIENTES - ALIANZAS*/


                                                            /*FOOTER*/
    footer {
        background: #25103d;
        border-top: 3px solid #FF3300;
        position: relative;
        overflow: hidden;    
    }
    footer #inside {
        padding: 10px;
        position: relative;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }
    footer #end {
        position: relative;
        top: 5px;
        font-size: 20px;
        color: white;
    }
}
